.custom-button {
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #770000;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  font-family: inherit;
}

.custom-button.primary {
  background-color: #8B0000; /* Dark Red */
  color: white;
}

.custom-button.primary:hover {
  background-color: #A52A2A;
}

.custom-button.secondary {
  background-color: white;
  color: #8B0000;
}

.custom-button.secondary:hover {
  background-color: #f1f1f1;
}

.custom-button.liked {
  background-color: #555;
  color: white;
  border-color: #333;
}

.custom-button.liked:hover {
  background-color: #333;
}
